# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>
        Inspired by
        <a href="https://slackhq.com/how-to-meet-200-people-in-200-days-bd4533699885">
          "How to meet 200 people in 200 days"
        </a>
        by Slack.
      </p>
      <p>We are not going to share your data with anyone. Promise.</p>
      <p>
        <small>
          This project is <a href="https://github.com/lipis/meet-notes">open source</a>.
        </small>
      </p>
    </div>
  </div>
# endblock

# block content
# endblock
